<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds">

  <property name="LOG_HOME" value="/tmp/tps/logs"/>

  <contextName>mock-server</contextName>
  <appender name="main" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <File>${LOG_HOME}/mock-server/com.github.mock.log</File>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <FileNamePattern>${LOG_HOME}/mock-server/mock-%d{yyyy-MM-dd}.log</FileNamePattern>
      <MaxHistory>10</MaxHistory>
    </rollingPolicy>
    <encoder>
      <charset>UTF-8</charset>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n</pattern>
    </encoder>
  </appender>

  <appender name="mybatis-data" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <File>${LOG_HOME}/mock-server/mock-data.log</File>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <FileNamePattern>${LOG_HOME}/mock-server/mock-data-%d{yyyy-MM-dd}.log</FileNamePattern>
      <MaxHistory>10</MaxHistory>
    </rollingPolicy>
    <encoder>
      <charset>UTF-8</charset>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n</pattern>
    </encoder>
  </appender>

  <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <charset>UTF-8</charset>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n</pattern>
    </encoder>
  </appender>

  <logger name="org.mybatis" level="DEBUG" additivity="false">
    <appender-ref ref="mybatis-data"/>
  </logger>

  <root level="DEBUG">
    <appender-ref ref="main"/>
    <appender-ref ref="console"/>
  </root>
</configuration>
